;----------FILE MODIFICATION [2026_04_10] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1815.06 49.80 528.03"
	"angles" "1.00 -1.83 0.00"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1815.06 148.80 528.03"
	"angles" "1.00 -1.83 0.00"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1816.06 248.80 528.03"
	"angles" "1.00 -1.83 0.00"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1815.06 348.80 528.03"
	"angles" "1.00 -1.83 0.00"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1819.06 456.80 528.03"
	"angles" "1.00 -1.83 0.00"
	"model"	 "models/props_fortifications/barricade001_128_reference.mdl"
	"classname"	"prop_dynamic_override"
}

;----------FILE MODIFICATION [2026_04_10] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-495.62 370.98 432.03"
	"angles" "360.00 -90.81 0.00"
	"model"	 "models/props_vehicles/bus01.mdl"
	"classname"	"prop_dynamic_override"
}

;----------FILE MODIFICATION [2026_04_10] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1796.09 64.98 528.03"
	"angles" "0.00 -179.36 0.00"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1797.09 194.98 528.03"
	"angles" "0.00 -179.36 0.00"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1797.09 324.98 528.03"
	"angles" "0.00 -179.36 0.00"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "-1797.09 444.98 528.03"
	"angles" "0.00 -179.36 0.00"
	"model"	 "models/props_urban/fence_cover001_128.mdl"
	"classname"	"prop_dynamic_override"
}

