;----------FILE MODIFICATION [2026_04_10] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2026_04_10"
	"solid" "6"
	"origin" "215.24 584.77 3194.03"
	"angles" "0.00 -0.92 0.00"
	"model"	 "models/lighthouse/props/estuary_bridge_corrug.mdl"
	"classname"	"prop_dynamic_override"
}

