;----------FILE MODIFICATION [2024_11_29] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "1909.97 -867.50 308.03"
	"angles" "182.00 -278.73 1.00"
	"model"	 "models/lighthouse/props/wooden_gate.mdl"
	"classname"	"prop_dynamic_override"
}

;----------FILE MODIFICATION [2024_11_29] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-481.67 -3800.21 280.03"
	"angles" "0.00 127.21 0.00"
	"model"	 "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-649.61 -3982.00 280.03"
	"angles" "0.00 147.39 0.00"
	"model"	 "models/props_vehicles/airport_fuel_truck.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-889.29 -4284.27 202.03"
	"angles" "0.00 270.74 0.00"
	"model"	 "models/props_urban/hotel_stairs001.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-452.65 -4354.77 280.03"
	"angles" "0.00 169.62 0.00"
	"model"	 "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-853.26 -3918.16 280.03"
	"angles" "0.00 -159.71 0.00"
	"model"	 "models/props_vehicles/airport_baggage_tractor.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-890.29 -4054.27 362.03"
	"angles" "0.00 270.74 0.00"
	"model"	 "models/props_urban/hotel_stairs001.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-423.47 -4457.22 280.03"
	"angles" "0.00 -171.41 0.00"
	"model"	 "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-468.49 -4249.93 280.03"
	"angles" "0.00 154.04 0.00"
	"model"	 "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-780.39 -4194.13 354.06"
	"angles" "0.00 -75.00 0.00"
	"model"	 "models/props_vehicles/airport_baggage_tractor.mdl"
	"classname"	"prop_dynamic_override"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "-772.76 -4589.90 536.03"
	"angles" "0.00 -75.33 0.00"
	"model"	 "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname"	"prop_dynamic_override"
}

;----------FILE MODIFICATION [2024_11_29] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "2053.12 -897.78 280.03"
	"angles" "0.00 112.01 0.00"
	"model"	 "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname"	"prop_dynamic_override"
}

;----------FILE MODIFICATION [2024_11_29] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_29"
	"solid" "6"
	"origin" "1819.69 -818.49 280.03"
	"angles" "0.00 -159.66 0.00"
	"model"	 "models/props_vehicles/airport_baggage_cart2.mdl"
	"classname"	"prop_dynamic_override"
}

