; =====================================================
; ==           ASCENSOR SIN ESPERA (INSTANTÁNEO)     ==
; ==           Mapa: c8m4_interior                   ==
; =====================================================

; --- 1. Acelerar el ascensor para que el viaje tome 0 segundos
modify:
{
    match:
    {
        "classname" "func_elevator"
        "targetname" "elevator"
    }
    replace:
    {
        ; Velocidad aumentada para un viaje instantáneo
        "speed" "3000" 
    }
}

; --- 2. Limpiar el botón para evitar eventos de horda y temblores
modify:
{
    match:
    {
        "classname" "func_button"
        "targetname" "elevbuttonoutsidefront"
    }
    delete:
    {
        ; Se elimina el Panic Event para no pelear la horda mientras sube
        "OnPressed" "director,PanicEvent,,0.5,-1"
        ; Se elimina el temblor de pantalla 
        "OnPressed" "elevator_start_shake,StartShake,,0,-1"
    }
}