;----------FILE MODIFICATION [2024_12_20] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "562.96 966.09 -382.96"
	"angles" "0.00 345.27 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "909.43 991.81 -382.96"
	"angles" "0.00 199.02 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "964.15 991.34 -382.96"
	"angles" "0.00 194.89 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "975.28 965.84 -382.96"
	"angles" "0.00 188.87 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "603.50 984.21 -382.96"
	"angles" "0.00 332.66 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "636.21 995.75 -382.96"
	"angles" "0.00 319.04 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "664.78 994.81 -382.96"
	"angles" "0.00 307.08 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "693.03 991.00 -382.96"
	"angles" "0.00 290.21 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "731.50 972.12 -382.96"
	"angles" "0.00 252.86 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "760.90 973.15 -382.96"
	"angles" "0.00 227.41 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "806.00 974.68 -382.96"
	"angles" "0.00 208.91 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "863.00 980.75 -382.96"
	"angles" "0.00 200.74 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

;----------FILE MODIFICATION [2024_12_20] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "595.62 971.71 -382.96"
	"angles" "0.00 198.45 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "629.03 979.25 -382.96"
	"angles" "0.00 196.52 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "686.50 990.96 -382.96"
	"angles" "0.00 194.72 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "649.40 986.65 -382.96"
	"angles" "0.00 197.13 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "615.68 971.50 -382.96"
	"angles" "0.00 194.15 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "585.75 966.96 -382.96"
	"angles" "0.00 197.09 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

;----------FILE MODIFICATION [2024_12_20] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-205.00 1236.12 14977.03"
	"angles" "0.00 130.95 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-233.34 1224.06 14977.03"
	"angles" "0.00 102.61 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-250.12 1223.71 14977.03"
	"angles" "0.00 86.83 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-217.15 1229.75 14977.03"
	"angles" "0.00 118.52 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-259.00 1226.18 14977.03"
	"angles" "0.00 78.13 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-282.46 1232.00 14977.03"
	"angles" "0.00 55.72 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-287.25 1235.62 14977.03"
	"angles" "0.00 50.27 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-306.15 1264.50 14977.03"
	"angles" "0.00 18.45 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-314.81 1288.46 14977.03"
	"angles" "0.00 356.48 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-320.81 1322.65 14977.03"
	"angles" "0.00 332.57 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-356.28 1254.59 14977.03"
	"angles" "0.00 15.16 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_20"
	"solid" "6"
	"classname"	"weapon_defibrillator_spawn"
	"origin" "-353.21 1248.12 14977.03"
	"angles" "0.00 18.76 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
}

;----------FILE MODIFICATION [2024_12_27] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-423.15 1242.71 14981.03"
	"angles" "0.00 140.93 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-438.40 1264.78 14981.03"
	"angles" "0.00 125.28 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-455.87 1281.21 14981.03"
	"angles" "0.00 112.10 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-443.56 1271.28 14981.03"
	"angles" "0.00 120.36 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-453.25 1303.18 14981.03"
	"angles" "0.00 100.23 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-451.65 1314.06 14981.03"
	"angles" "0.00 93.69 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-439.28 1270.00 14981.03"
	"angles" "0.00 122.34 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-431.37 1241.53 14981.03"
	"angles" "0.00 137.90 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-421.90 1233.31 14981.03"
	"angles" "0.00 144.66 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-484.21 1252.34 14981.03"
	"angles" "0.00 118.65 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-465.68 1297.25 14981.03"
	"angles" "0.00 102.17 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-444.15 1257.25 14981.03"
	"angles" "0.00 126.87 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-433.28 1236.37 14981.03"
	"angles" "0.00 138.95 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-433.18 1226.71 14981.03"
	"angles" "0.00 142.03 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_27"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-449.34 1244.46 14981.03"
	"angles" "0.00 130.34 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

