;----------FILE MODIFICATION [2024_11_30] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_11_30"
	"solid" "6"
	"classname"	"weapon_rifle_spawn"
	"origin" "424.50 -1595.65 937.53"
	"angles" "37.61 230.36 243.19"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_30"
	"solid" "6"
	"classname"	"weapon_rifle_spawn"
	"origin" "346.46 -1613.75 897.03"
	"angles" "0.00 136.80 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_11_30"
	"solid" "6"
	"classname"	"weapon_rifle_spawn"
	"origin" "242.25 -1606.96 936.25"
	"angles" "39.24 107.57 281.33"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

;----------FILE MODIFICATION [2024_11_30] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
;----------FILE MODIFICATION [2024_11_30] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
