;----------FILE MODIFICATION [2024_12_25] ---------------||
;----------BY: [T-T]MoY----------------------||

add:
{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_rifle_spawn"
	"origin" "-50.21 -221.96 73.03"
	"angles" "0.00 110.17 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_rifle_ak47_spawn"
	"origin" "-57.93 -184.90 73.03"
	"angles" "0.00 80.06 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_rifle_ak47_spawn"
	"origin" "-42.56 -146.03 73.03"
	"angles" "0.00 48.38 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_rifle_ak47_spawn"
	"origin" "-13.43 -124.34 73.03"
	"angles" "0.00 21.57 270.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"5"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_melee_spawn"
	"origin" "-90.30 -127.28 73.03"
	"angles" "0.00 418.35 -90.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"melee_weapon"	"fireaxe"
	"spawn_without_director"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_melee_spawn"
	"origin" "-52.60 -119.79 73.03"
	"angles" "0.00 403.27 -90.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"melee_weapon"	"fireaxe"
	"spawn_without_director"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_melee_spawn"
	"origin" "38.00 -104.21 73.03"
	"angles" "0.00 346.27 -90.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"melee_weapon"	"fireaxe"
	"spawn_without_director"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_melee_spawn"
	"origin" "66.91 -158.27 73.03"
	"angles" "0.00 304.47 -90.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"melee_weapon"	"fireaxe"
	"spawn_without_director"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_molotov_spawn"
	"origin" "-72.59 -128.00 77.03"
	"angles" "0.00 65.03 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_molotov_spawn"
	"origin" "-71.59 -120.43 77.03"
	"angles" "0.00 61.78 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-70.34 -149.90 77.03"
	"angles" "0.00 74.48 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

{
	"targetname" "l4d2_spawn_props_object_2024_12_25"
	"solid" "6"
	"classname"	"weapon_pipe_bomb_spawn"
	"origin" "-70.81 -139.75 77.03"
	"angles" "0.00 69.82 0.00"
	"spawnflags"	"2"
	"disableshadows"	"1"
	"count"	"1"
}

